/*
*Archivo css para el indice
*/


nav ul {
    color: rgb(164, 9, 4);
}
header {padding: 15px;
    color:  white;
    background-color: rgb(142, 6, 142);}
nav ul a {color: red;}
body {
    margin: 0;
}